<p id="notice"><%= notice %></p>

<h1>Troubles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Trouble name</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @troubles.each do |trouble| %>
      <tr>
        <td><%= trouble.trouble_name %></td>
        <td><%= trouble.is_active %></td>
        <td><%= link_to 'Show', trouble %></td>
        <td><%= link_to 'Edit', edit_trouble_path(trouble) %></td>
        <td><%= link_to 'Destroy', trouble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trouble', new_trouble_path %>
