<p id="notice"><%= notice %></p>

<p>
  <strong>Trouble name:</strong>
  <%= @trouble.trouble_name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @trouble.is_active %>
</p>

<%= link_to 'Edit', edit_trouble_path(@trouble) %> |
<%= link_to 'Back', troubles_path %>
