<p id="notice"><%= notice %></p>

<p>
  <strong>Trouble:</strong>
  <%= @rule.trouble_id %>
</p>

<p>
  <strong>Indication:</strong>
  <%= @rule.indication_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @rule.weight %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @rule.is_active %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
